body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

#map {
    height: 80vh;  /* 80% of the screen height */
    width: 80%;    /* 80% of the screen width */
    margin: auto;
    border: 2px solid black;
}
